body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-link {
    text-align: center;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}


.project-image {
    width: 50%; /* Adjust the image width */
    height: auto;
    border-radius: 10px; /* Optional: Add a rounded corner effect */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s ease-in-out;
}

.project-image:hover {
    transform: scale(1.05);
}

.project-description {
    margin-top: 10px;
    font-size: 18px;
}

.toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.toggled-image {
    border: 5px solid #007bff;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
